body {
    padding-top: 70px;
}
iframe {
    width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 500px;
    border: inset 2px #EEE;
    resize: vertical;
}
footer {
    margin-top: 5em;
    border-top: solid 1px #CCC;
    padding-top: 2em;
    color: #666;
    font-size: 0.9em;
}
#chart {
    min-height: 550px;
    border: solid 1px #999;
}