<% include ../layout/header %>

<div class="hero-unit">
    <h1>FT Analytics API</h1>
    <p>An API for Analytics!</p>
</div>

<% if (apis.length > 0) { %>
<h2>The APIs</h2>
<ul>
    <% apis.forEach(function (api) { %>
    <li><%-link_to('api', api, api.title) %></li>
    <% }) %>
</ul>
<% } %>

<% include ../layout/footer %>