<%-messages() %>

<%-form_field('text', 'chart', 'title', chart.title, {label: 'Title', placeholder: 'Title', required: true, help: 'Give the Chart a name.'}) %>

<% if (api.columns.length > 0) { %>
<div class="form-group">
    <label for="date" class="col-lg-2 control-label">Rolling date</label>
    <div class="col-lg-1">
        <input type="number" name="date" id="date" placeholder="1" value="<%=req.query.date %>" class="form-control" maxlength="2" style="width:4em;" />
    </div>
    <div class="col-lg-pull-1">
        <p>days</p>
    </div>
</div>

<% api.columns.forEach(function(column) { %>
<% if (column.values.length > 0) { %>
<%-form_field((column.values.length > 100 ? 'text' : 'select'), 'chart', 'set', '', { id: 'chart_set_' + column.name, name:'chart[set]['+column.name+']', label: column.name, values: column.values, blank: 'All' }) %>
<% } %>
<% }); %>

<div class="col-lg-offset-2">
    <p><button class="btn btn-primary">Update</button></p>
</div>

<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <div id="chart">

        </div>
    </div>
</div>

<% } %>
