<% include ../layout/header %>

<div class="page-header">
    <h1>Charts</h1>
</div>

<p><a href="<%=req.url %>/new" class="btn btn-primary">New Chart</a></p>

<% if (charts.length > 0) { %>
<ul>
    <% charts.forEach(function (chart) { %>
    <li><%-link_to('charts', chart, chart.title) %></li>
    <% }) %>
</ul>
<p><a href="<%=req.url %>/new" class="btn btn-primary">New Chart</a></p>
<% } else { %>
<div class="alert alert-info">No Charts found.</div>
<% } %>

<% include ../layout/footer %>