    <footer>
        <p>&copy; Financial Times</p>
    </footer>

    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <% if (req.url.match(/(home|api)/)) { %>
    <script src="/js/<%=RegExp.$1 %>.js"></script>
    <% } %>

</body>
</html>
