<% include ../layout/header %>

<div class="page-header">
    <h1>APIs</h1>
</div>

<p><a href="/apis/new" class="btn btn-primary">New API</a></p>

<% if (apis.length > 0) { %>
    <% apis.forEach(function (api) { %>
    <h2><%-link_to('apis', api, api.title) %></h2>
    <p><%= api.description %></p>
    <% }) %>
<% } %>

<p><a href="/apis/new" class="btn btn-primary">New API</a></p>

<% include ../layout/footer %>